<h1 mat-dialog-title>Вы собираетесь удалить рецепт {{deleteBlogName | lowercase}}</h1>
<div mat-dialog-content>Вы уверенны? Отменить действие не получится. Пожалуйста, удаляйте рецепты, которые нарушают
  правила пользования сайтом</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close cdkFocusInitial>Отменить</button>
  <!-- <button mat-button mat-dialog>Продолжить</button> -->
  <button mat-stroked-button color="warn" [mat-dialog-close]="true" (click)="deleteBlog()">Удалить</button>
</div>