.header-image {
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
}

.card {
    width: 80%;
    max-width: 80%;
    margin-top: 2%;
}

.main-div {
    display: flex;
    width: 100%;
    justify-content: center;
}

.main-div {
    background-color: #f7f7f7;
    height: auto;
}

.post-button {
    font-size: 120%;
    margin-top: 5%;
    background-color: rgb(25, 199, 25);
    color: white;
}

.admin-button {
    font-size: 120%;
    background-color: white;
    color: black;
    border: 2px solid rgb(25, 199, 25);
}

.user-image {
    height: 325px;
    width: 280px;
    border-radius: 2%;
    cursor: pointer;
    // flex-shrink: 0;
    // box-shadow: 3px 3px 3px 3px #888;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.avatar-image {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: center;
}

.p {
    font-size: 120%;
}

h1 {
    font-family: 'Orelega One', cursive;
    font-size: 260%; /* Размер шрифта в процентах */ 
} 

* {
    font-family: 'Nunito', sans-serif;
}

.user-info {
    margin-top: 15px;
}

.make-user {
    color: rgb(25, 199, 25);
}


.make-admin {
    color: #ea4c89;
}

.block-user-button {
  background-color: white;
  color: black;
  border: 2px solid #ea4c89;  
}
