.card {
    max-width: 300px;
    height: 400px;
    margin-top: 15px;
    :hover {
        cursor: pointer;
    }
}

// .big-card {
//     max-width: 1000px;
//     margin-top: 15px;
//     :hover {
//         cursor: pointer;
//     }
//     background-color: aquamarine;
// }

mat-card {
    padding-bottom: 0;
}

.crop-text-2 {
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.crop-text {
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.users-menu {
    position: absolute;
    right: 0;
}

.what-to-cook {
    font-size: 130%;
    // text-align: center;
}

.p {
    font-size: 120%;
}

h1 {
    font-family: "Orelega One", cursive;
    font-size: 260%; /* Размер шрифта в процентах */
}

* {
    font-family: "Nunito", sans-serif;
}

.search {
    background-color: white;
    margin: 0 2% 0 2%;
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2);
    padding: 2.5% 10% 2% 10%;
}

.blog-image {
    border: none;
    // padding-right: 5%;
    width: 100%;
    height: 150px;
}

.author {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    padding-bottom: 0;
}

.bookmark-icon {
    position: absolute;
    margin: 3%;
    right: 0;
    bottom: 0;
}



.user-image {
    margin-top: 3px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.find-button {
    font-size: 120%;
    margin-top: 1%;
    padding: 1% 5% 1% 5%;
    background-color: rgb(25, 199, 25);
    color: white;
}

.ingredients-button {
    font-size: 120%;
    margin-top: 1%;
    padding: 1% 5% 1% 5%;
    border-color: rgb(25, 199, 25);
    // color: white;
}

.expansion-panel {
    height: 48px;
    z-index: 1;
}
